beautifulsoup4==4.12.2
camelot-py==0.11.0
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
cryptography==45.0.7
Deprecated==1.2.18
docx2pdf==0.1.8
et_xmlfile==2.0.0
fire==0.7.1
fonttools==4.59.2
gunicorn==23.0.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
lxml==4.9.3
numpy==2.2.6
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.2.2
pdf2docx==0.5.8
pdfkit==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.4
pikepdf==9.3.0
pillow==10.3.0
psutil==7.0.0
pycparser==2.22
pydub==0.25.1
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pypdf==6.0.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-pptx==0.6.23
pytz==2025.2
pywin32==311
reportlab==4.2.2
six==1.17.0
soupsieve==2.8
tabulate==0.9.0
termcolor==3.1.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
wrapt==1.17.3
xlrd==2.0.1
xlsxwriter==3.2.5
